---
// Data Fetch
import { info } from "@data";

// Layout Fetch
import Layout from "@layouts/Layout.astro";
import Hero from "@components/home/Hero.astro";

import Experience from "@components/home/Experience.astro";
import Certificate from "@components/home/Certificate.astro";
import Education from "@components/home/Education.astro";

// import ProjectsWrapper from "@components/general/ProjectsWrapper.astro";
import MetaHead from "@components/general/MetaHead.astro";

// const featureProjects = info.projects.map((project, index) => {
//   if (project.isFeatured && index < 6) {
//     return project;
//   }
// });
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead
      title={"Online Resume"}
      description={info.about}
      ogImageUrl={"/assets/images/profile.png"}
    />
  </head>

  <body>
    <Layout>
      <Hero name={info.name} about={info.about} />
      <Experience title={"EXPERIENCE"} details={info.experience} />
      <Certificate title={"CERTIFICATION"} details={info.certification} />
      <Education title={"EDUCATION"} details={info.education} />
    </Layout>
  </body>
</html>
